<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
    <h1 style="background-color: rgb(196, 196, 196);">
        <a href="/">Memy</a>
        <a href="/random">Losuj</a>
        <a href="/add_meme">Dodaj</a>
        <a th:if="${isAuthenticated}" th:href="@{/logout}">Wyloguj się</a>
        <a th:unless="${isAuthenticated}" th:href="@{/login}">Zaloguj się</a>
    </h1>

    <div th:each="meme : ${memes}">
        <h1><span th:text="${meme.title}"></span></h1>
        <!--<img th:src="'/' + ${meme.title} + '.jpg'">-->
        <img th:src="${meme.filePath}">
    </div>

    <ul class="pagination">
        <li th:if="${currentPage > 0}">
            <a th:href="@{http://localhost:8080(page=0)}">Pierwsza</a>
        </li>
        <li th:if="${currentPage > 0}">
            <a th:href="@{http://localhost:8080(page=${currentPage - 1})}">Poprzednia</a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(firstPage, lastPage)}">
            <a th:href="@{http://localhost:8080(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
        </li>
        <li th:if="${currentPage < totalPages - 1}">
            <a th:href="@{http://localhost:8080(page=${currentPage + 1})}">Następna</a>
        </li>
        <li th:if="${currentPage < totalPages - 1}">
            <a th:href="@{http://localhost:8080(page=${totalPages - 1})}">Ostatnia</a>
        </li>
    </ul>
</body>
</html>